includes:
    - vendor/larastan/larastan/extension.neon

parameters:

    phpVersion:
        min: 80225
        max: 80406

    level: 8

    paths:
        - app
        - config
        - database
        - routes

    editorUrl: 'phpstorm://open?file=%env.IGNITION_LOCAL_SITES_PATH%%%relFile%&line=%%line%%'
    editorUrlTitle: '%%relFile%%:%%line%%'
